#titulo {
    color: white;
        text-align: center;
        border: 5px black;
        margin: 15px ;
        padding: 15px ;
        background-color: gray;
        

}


#fondo {
    background-color: burlywood;
}



.post {
    color: black;
    text-align: center;
    font-family: monospace;
}

.img {
    border-radius: 5px;
    border: 5px #333 solid;

}


#footer {
    text-align: center;
    color: white;
    border: 5px #364552 solid;
    margin: 15px;
}


/* Navbar*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #364552;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}


/*Fin Navbar */




header {
    background-color: gray;
    color: white;
    padding: 2rem 2rem;
	margin: 15px 15px;

}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto; 
}
    
    
 section article  {
    transition: box-shadow 0.3s ease;
    background-color: aliceblue;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;

}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem black;
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #364552;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

#contacto {
    transition: box-shadow 0.3s ease;
    background-color: burlywood;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer; 
    border-radius: 5px;
    text-align: center;
    
    

}


#contacto:hover {
    color: rgb(38, 81, 116);
}


#numero {
    color: black;
    text-align: center;
}

#numero:hover {
    color: rgb(38, 81, 116);

}

.left {
    float:left;
    margin: 0px;
}




